{% extends 'shablon.html' %}

{% block title %}
        КОНТАКТЫ
{% endblock %}

{% block content %}

<main class="container mt-5 flex-grow-1">
    <h2>Свяжитесь с нами</h2>
    <p>Вы можете отправить нам сообщение или найти нас в социальных сетях. Мы всегда рады общению!</p>

    <!-- Форма контактов -->
    <form action="/submit_contact" method="post">
        <div class="mb-3">
            <label for="name" class="form-label">Ваше имя</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Ваш Email</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="mb-3">
            <label for="message" class="form-label">Сообщение</label>
            <textarea class="form-control" id="message" name="message" rows="4" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>

    <!-- Контактная информация -->
    <section class="mt-5">
        <h3>Наша информация</h3>
        <p>Email: <a href="mailto:info@fitness.com">info@fitness.com</a></p>
        <p>Телефон: +7 (999) 123-45-67</p>
        <p>Адрес: ул. Спортивная, дом 1, Москва</p>
    </section>
</main>

{% endblock %}
